@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;800&display=swap');

* {
    font-family: 'Sora', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.75rem;
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 1rem;
  }
}

h2 {
  font-weight: bold;
}


/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
nav {
    padding: 0 15% 0 15%;
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 0 7%;
    padding-right: 3%;
  }
}

.navbar {
    background: transparent !important;
    transition: 0.75s ease;
}

.navbar.scrolled, .scrolled{
    background: #fff !important;
    box-shadow: 5px 5px 6px 5px #888888;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background-color: #3b3e42;
  box-shadow: none;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ---------------------------------------------------
    BANNER
----------------------------------------------------- */

#text a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.jumbotron {
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.jumbotron h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #00A3FF;
}

.jumbotron p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.15rem;
}

#text {
    padding: 15%;
}

.jumbotron img {
    width: 25%;
    margin: -30% 60%;
    display: block;
}

.jumbotron a {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: medium;
    background: #F9F9F9;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
      text-align: center !important;
      background-image: url(../images/bg2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    #text {
      padding: 40% 3% 0 3%;
    }

    .jumbotron img {
      display: none !important;
    }
}

@media only screen and (max-width: 576px) {
  #text {
    padding: 55% 3% 0 3%;
  }
}

/* ---------------------------------------------------
    TENTANG
----------------------------------------------------- */

#about {
    text-align: center;
}

#tentang {
    margin: 0 auto;
    width: 45%;
    margin-bottom: 5rem;
}

#tentang p {
    margin: 20px;
    line-height: 30px;
}

#about {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22772%22%20height%3D%22904%22%20viewBox%3D%220%200%20772%20904%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-84.8752%20872.721C-107.38%20869.043%20-128.81%20866.334%20-150.166%20858.52C-151.42%20857.076%20-152.659%20855.588%20-154.894%20855.001C-159.817%20853.708%20-164.341%20853.894%20-169.196%20852.619C-173.732%20851.428%20-177.063%20849.215%20-180.894%20846.283C-184.08%20843.844%20-191.219%20845.517%20-194.406%20843.078C-202.27%20837.059%20-215.759%20833.836%20-225.478%20829.764C-243.19%20822.344%20-259.209%20812.505%20-275.149%20801.793C-322.708%20769.83%20-374.685%20742.691%20-422.838%20710.59C-454.803%20689.281%20-491.197%20655.867%20-507.988%20620.599C-525.474%20583.869%20-530.478%20543.662%20-531.341%20503.468C-531.911%20476.958%20-534.387%20449.551%20-532.53%20423.1C-530.457%20393.572%20-521.741%20363.544%20-512.632%20335.557C-503.239%20306.7%20-484.865%20276.355%20-467.653%20251.508C-454.729%20232.852%20-441.077%20214.789%20-427.151%20196.863C-417.781%20184.802%20-410.007%20170.723%20-399.449%20159.701C-352.812%20111.017%20-283.129%2097.7699%20-220.985%2081.3896C-143.687%2061.0151%20-66.0216%2044.7166%2012.6588%2030.931C52.7883%2023.8999%2092.395%2014.699%20133.285%2013.8207C171.524%2012.9993%20209.986%2010.9039%20248.202%2012.5622C317.12%2015.5528%20382.418%2017.6352%20448.924%2037.9612C540.388%2065.915%20637.143%20106.388%20705.436%20175.896C728.808%20199.684%20757.411%20229.776%20758.178%20265.508C758.955%20301.663%20740.48%20326.455%20727.657%20359.194C709.497%20405.559%20669.637%20443.789%20656.425%20491.532C651.84%20508.099%20642.499%20523.328%20638.783%20540.174C636.506%20550.494%20638.746%20563.501%20638.973%20574.048C639.603%20603.391%20647.797%20622.334%20656.2%20650.038C666.806%20685.007%20678.7%20738.901%20643.615%20765.118C619.471%20783.159%20594.889%20803.34%20567.817%20816.354C542.524%20828.512%20515.108%20837.181%20488.327%20845.89C454.848%20856.776%20421.035%20868.288%20386.527%20875.77C355.172%20882.569%20321.955%20883.342%20289.91%20884.03L183.485%20886.316C151.402%20887.005%20113.709%20893.183%2082.0054%20887.286C62.9379%20883.739%2041.7514%20887.298%2022.4512%20887.355C8.19459%20887.397%20-6.00746%20883.439%20-20.384%20883.436C-41.9349%20883.43%20-63.7385%20876.176%20-84.8752%20872.721Z%22%20fill%3D%22%2367DDE4%22%20fill-opacity%3D%220.87%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left;
}

@media only screen and (max-width: 768px) {
  #tentang, #mengapa {
    width: 80% !important;
  }

  #about {
    text-align: center !important;
    padding-left: inherit;
    padding-right: inherit;
  }

  #tentang {
    text-align: center;
    margin-left: auto;
  }

  #tentang p {
    margin: 0 -30px 0 -30px;
    line-height: 30px;
  }

  #tentang h2 {
    font-weight: bold;
  }
}


/* ---------------------------------------------------
    MENGAPA
----------------------------------------------------- */
#mengapa {
    width: 50%;
    margin: 0 auto;
}

#mengapa h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 20px;
}

#mengapa>div {
    display: flex;
    align-items: center;
}

#mengapa img {
    width: 25%;
}

#mengapa #g1 {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mengapa>div {
    display: block !important;
  }

  #mengapa img {
    width: 50% !important;
  }

  #mengapa #g2 {
    display: none  !important;
  }

  #mengapa #g1 {
    display: block !important;
    margin: auto;
  }
}


/* ---------------------------------------------------
    TIM
----------------------------------------------------- */
#tim {
    text-align: center;
    margin-top: 7rem;
}

#tim>div {
    display: flex;
}

#tim img {
    margin: 40px 0;
    width: 55%
}

#tim>p {
    margin-top: 40px;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 768px) {
  #tim>p {
    width: 80% !important;
  }
}


/* ---------------------------------------------------
    PORTOFOLIO
----------------------------------------------------- */
#portofolio {
    text-align: center;
    height: 100vh;
}


/* ---------------------------------------------------
    PERTANYAAN
----------------------------------------------------- */
.submit-question-btn {
  width: 100%;
  border-color: #7ce2e7;
  color: #7ce2e7;
}

.submit-question-btn:hover {
  background-color: #7ce2e7;
  color: #fff;
}


/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
.bg-footer {
  background-color: #7ce2e7;
}

.medsos-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ace9ec;
  border-radius: 20px;
}

#copyright {
  text-align: center;
  margin-bottom: 0;
  background-color: #ace9ec;
  font-size: 0.9rem;
}
